@font-face{
	font-family: marguerite-webfont;
	src: url(../fonts/marguerite-webfont.woff); 
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	
}

/*header css start*/
header{
	background-color: #e68afd;
	height: 40px;
	font-family: Helvetica;
	position: sticky;
	top:0;
}

.head{
	display: flex;
	justify-content: flex-end;
	padding-top: 11px;
}

.head img{
	height: 15px;
	width: 15px;
	margin-left: 5px;
}

.head p{
	margin: 0 5px;
}

.head a{
	text-decoration: none;
	color: black;
}

#navIcon{
	position: absolute;
	top: 15%;
	left: 2%;
}

#navIcon img{
	height: 25px;
	width: 25px;
	filter: invert(1);
}
/*header css end*/

#nav2{
		display: none;
	}

/*side nav css start*/
.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e68afd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidenav a{
  padding: 8px 10px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: Helvetica;
}

.sidenav a:hover{
  color: black;
  background-color: #d994eb;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 20px;
  margin-left: 50px;
}
/*side nav css end*/


/*logo css start*/
#logo{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
#logo img{
	height: 150px;
	width: 230px;

}
/*logo css end*/
/*image animate css start*/
#imageAnimate{
	height: 200px;
	width: 300px;
	background-image:url("../images/slide1.jpeg");
	background-position: center;
	margin: 0 auto;
	animation-name: bgChange;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes bgChange{
	25%{
		background-image:url("../images/slide2.jpeg");
	}
	50%{
		background-image:url("../images/slide3.jpeg");
	}
	75%{
		background-image:url("../images/slide4.jpeg");
	}
	100%{
		background-image:url("../images/slide5.jpeg");
	}
		
		
		
}
.welcome{
	text-align: center;
	margin-top: 20px;

}

.welcome h2{
	font-size: 30px;
	word-spacing: 20px;

}

.welcome h3, .welcome h2{
	font-family: marguerite-webfont;
	color: red;
	
}

.welcome p{
	font-family: Helvetica;
	font-style: italic;
}

.btn{
	background-color: #e68afd;
	border-radius: 10px;
	margin-top: 25px;
	padding: 5px;
	
}

.btn:hover{
	box-shadow: 0px 2px 5px;
}

.btn a{
	text-decoration: none;
	font-size: 20px;
	color: white;
}

/*image animate css end*/

/*products css start*/
#products{
	text-align: center;
}
#products img{
	width: 190px;
	height: 190px;
	margin-top: 10px;
}

#products h2{
	font-family: marguerite-webfont;
	font-size: 25px;
	word-spacing: 10px;
	color: red;
	text-decoration:underline;
}

#products p{
	font-family: Helvetica;
}

/*products css end*/

/*cupcakes css start*/

#cupcakes{
	text-align: center;
		
}

#cupcakes img{
	width: 190px;
	height: 190px;
	margin-top: 10px;
}
#cupcakes h2{
	font-family: marguerite-webfont;
	font-size: 25px;
	word-spacing: 10px;
	color: red;
	text-decoration:underline;
}

#cupcakes p{
	font-family: Helvetica;
}
/*cupcakes css end*/

/*cakes css start*/

#cakes{
	text-align: center;
}

#cakes img{
	width: 190px;
	height: 190px;
	margin-top: 10px;
}
#cakes h2{
	font-family: marguerite-webfont;
	font-size: 25px;
	word-spacing: 10px;
	color: red;
	text-decoration:underline;
}

#cakes p{
	font-family: Helvetica;
}

/*cakes css end*/

/*custom cakes css start*/

#custom{
	text-align: center;
}

#custom img{
	width: 190px;
	margin-top: 10px;
}
#custom h2{
	font-family: marguerite-webfont;
	font-size: 25px;
	word-spacing: 10px;
	color: red;
	text-decoration:underline;
}

#custom p{
	font-family: Helvetica;
}

/*custom cakes css end*/

/*about us css start*/
#aboutUs{
	text-align: center;
}

#aboutUs h2{
	font-family: marguerite-webfont;
	font-size: 25px;
	word-spacing: 15px;
	color: red;
	text-decoration:underline;
}

#aboutUs p{
	font-family: Helvetica;
	padding-bottom: 10px;

}

.text{
	margin: 0 auto; 
	width: 350px;
}

.text p{
	width: 350px;
	text-align: justify;
}
/*about us css end*/

/*contact css start*/

#contact{
	text-align: center;
}

.container{
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 40px;
	margin-top: 10px;
}

#contact h2{
	font-family: marguerite-webfont;
	font-size: 25px;
	word-spacing: 15px;
	color: red;
	text-decoration:underline;
}

#contact p{
	font-family: Helvetica;
	display: inline;
	padding-left: 5px;
}

#contact img{
	height: 30px;
	width: 30px;
	display: inline;
}

iframe{
	margin-top: 30px;
}

/*contact css end*/

/*account css start*/

#account{
	text-align: center;
}

#account h2{
	font-family: marguerite-webfont;
	font-size: 25px;
	word-spacing: 15px;
	color: red;
	text-decoration:underline;
}


input {
	display: block;
	border: 3px groove #e68afd;
	margin: 10px auto;
	height: 50px;
	width: 300px;
	font-size: 18px;
	background-color: whitesmoke;
}

#account .btn{
	text-decoration: none;
	font-size: 20px;
	color: white;
}

#newC{
	margin-top: 50px;
}
/*account css end*/

/*footer css start*/

#foot{
	height: 100px;
	background-color: #e68afd;
	margin-top: 50px;
	
}

#foot p{
	font-family: Helvetica;
	font-size: 10px;
	
}
.footNav ul{
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}


.footNav li{
	list-style-type: none;
}

.footNav a{
	text-decoration: none;
	font-size: 15px;
	color: black;
	padding-left: 5px;
	font-family: helvetica;

}
	
.footLeft{
	width: 300px;
	text-align: center;
	margin: 0 auto;
}

.footRight{
	width: 300px;
	text-align: center;
	margin: 0 auto;
}

/*footer css end*/

/*ipad view*/
@media only screen and (min-width: 376px) and (max-width: 768px) {

	/*Animate ipad*/
	#imageAnimate{
		height: 400px;
		width: 600px;
		background-size: cover;
	}

	#logo img{
	height: 250px;
	width: 350px;

	}

	#nav2{
		display: none;
	}

	.sidenav{
		padding-top: 50px;
	}

	.sidenav a{
		font-size: 30px;
	}

	.sidenav .closebtn{
		font-size: 35px;

	}

	/*header ipad*/

	header{
		height: 50px;
	}

	.head img{
		height: 20px;
		width: 20px;
	}

	.head p{
		font-size: 20px;
	}

	.head a{
		font-size: 20px;

	}

	#navIcon > img{
		height: 35px;
		width: 35px;
	}

	/*welcome ipad*/

	.welcome h2{
	font-size: 60px;
	word-spacing: 30px;

	}

	.welcome h3{
	font-size: 30px;
	word-spacing: 10px;

	}

	.welcome p{
		font-size: 30px;
	}

	.welcome a{
		font-size: 30px;
	}

	/*products ipad*/

	#products > img{
		width: 300px;
		height: 300px;
	}

	#products h2{
		font-size: 45px;
	}

	#products p{
		font-size: 30px;
	}

	/*cupcakes ipad*/

	#cupcakes > img{
		width: 300px;
		height: 300px;
	}

	#cupcakes h2{
		font-size: 45px;
	}

	#cupcakes p{
		font-size: 30px;
	}

	/*cake ipad*/

	#cakes > img{
		width: 300px;
		height: 300px;
	}

	#cakes h2{
		font-size: 45px;
	}

	#cakes p{
		font-size: 30px;
	}

	/*custom ipad*/

	#custom > img{
		width: 300px;
		
	}

	#custom h2{
		font-size: 45px;
	}

	#custom p{
		font-size: 30px;
	}

	/*about ipad*/

	#aboutUs h2{
		font-size: 45px;
	}

	#aboutUs p{
		font-size: 30px;
	}

	.text{
		width: 500px;
	}

	.text p{
		width: 500px;
	}

	/*account ipad*/

	#account h2{
		font-size: 45px;
		word-spacing: 30px;
	}

	input {
		height: 60px;
		width: 500px;
		font-size: 24px;
	}

	#account .btn{
		font-size: 30px;
	}

	/*contact ipad*/

	#contact h2{
		font-size: 45px;
	}
	
	#contact > img{
		height: 50px;
		width: 50px;
	}

	#contact p{
		font-size: 30px;
	}

	iframe{
		width: 600px;
		height: 450px;
		margin-top: 50px;
	}	
}	

/*desktop view*/
@media only screen and (min-width: 769px) and (max-width: 1280px){

	#mySidenav{
		display: none;
	}

	#navIcon{
		display: none;
	}

	#imageAnimate{
		display: none;
	}



	.cover{
		background-image: url(../images/cakeee.jpg);
		background-size: cover;
		
		
	}

	#nav2{
		display: block;
		position: absolute;
		top: 10px;
		left: 30%;
		

	}

	#nav2 a{
		text-decoration: none;
		padding-left: 20px;
		color: white;
		font-family: Helvetica;
		font-size: 20px;
	}

	#logo img{
	height: 250px;
	width: 350px;

	}

	/*welcome desktop*/

	.welcome h2{
	font-size: 70px;
	word-spacing: 40px;

	}

	.welcome h3{
	font-size: 40px;
	word-spacing: 10px;

	}

	.welcome p{
		font-size: 30px;
	}

	.welcome a{
		font-size: 30px;
	}

	/*products desktop*/

	#products > img{
		width: 150px;
		height: 150px;
	}

	#products h2{
		font-size: 45px;
	}

	#products p{
		font-size: 30px;
	}

	.prodCon{
		display: flex;
		justify-content: space-around;
	}

	/*cupcake desktop*/

	#cupcakes > img{
		width: 150px;
		height: 150px;
	}

	#cupcakes h2{
		font-size: 45px;
	}

	#cupcakes p{
		font-size: 30px;
	}

	.cupCont{
		display: flex;
		justify-content: space-around;
	}

	/*cakes desktop*/

	#cakes > img{
		width: 150px;
		height: 150px;
	}

	#cakes h2{
		font-size: 45px;
	}

	#cakes p{
		font-size: 30px;
	}

	.cakeCont{
		display: flex;
		justify-content: space-around;
	}

	/*customized desktop*/

	#custom > img{
		width: 150px;
		
	}

	#custom h2{
		font-size: 45px;
	}

	#custom p{
		font-size: 30px;
	}

	.cusCont{
		display: flex;
		justify-content: space-around;
	}

	/*about desktop*/

	#aboutUs h2{
		font-size: 45px;
	}

	#aboutUs p{
		font-size: 30px;
	}

	.text{
		width: 1000px;
	}

	.text p{
		width: 1000px;
	}

	/*account desktop*/

	#account h2{
		font-size: 45px;
		word-spacing: 30px;
	}

	input {
		height: 60px;
		width: 500px;
		font-size: 24px;
	}

	#account .btn{
		font-size: 30px;
	}

	/*contact desktop*/

	#contact h2{
		font-size: 45px;
	}
	
	#contact > img{
		height: 50px;
		width: 50px;
	}

	#contact p{
		font-size: 30px;
	}

	iframe{
		width: 600px;
		height: 450px;
		margin-top: 50px;
	}

	/*footer desktop*/

	#foot p{
		font-size: 15px;
	}

	#foot a{
		font-size: 20px;

	}

	.footNav{
		padding-bottom: 10px;
	}

	.footing{
		display: flex;
		justify-content: space-between;
	}

	.footLeft{
		width: 500px;
		text-align: center;
		margin: 0 auto;
	}

	.footRight{
		width: 500px;
		text-align: center;
		margin: 0 auto;
	}
}



